.highlight-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60px;
  margin: 107px 0 58px;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title p {
  color: #565454;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.links-wrapper a {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

.services-wrapper a {
  text-transform: uppercase !important;
  transition: all 0.1s ease-in-out;
}

.links-wrapper a:hover {
  transition: all 0.1s ease-in-out;
  color: #8a4fff;
}
