div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 85%) 1fr;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mySwiper div.swiper-button-next,
.mySwiper div.swiper-button-prev {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  background-color: #ffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  animation-timing-function: ease-out;
  border: 2px solid #efefef;
  animation-duration: 50ms;
  transition: 0.2s;
  right: 1px;
}
.mySwiper div.swiper-button-prev {
  left: 1px !important;
}

.mySwiper:hover div.swiper-button-next {
  overflow: visible;
  opacity: 1;
}

.mySwiper:hover div.swiper-button-prev {
  overflow: visible;
  opacity: 1;
}

.mySwiper div.swiper-button-next:hover,
.mySwiper div.swiper-button-prev:hover {
  background-color: #efefef;
}

.mySwiper div.swiper-button-next::after,
.mySwiper div.swiper-button-prev::after {
  color: #8a4fff !important;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 1500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr min(1440px, 75%) 1fr;
  }
}
